<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

	{{ghost_head}}
</head>

<body class="{{body_class}}">

	{{navigation}}

	<section id="wrapper">
		<a class="hidden-close"></a>
		{{{body}}}
		<div id="body-class" style="display: none;" class="{{body_class}}"></div>

		<footer id="footer">
			<div class="inner">
				<section class="credits">
					<span class="credits-box">{{t "Copyright 2019, Marcel Berberich" }}<br />{{t "This work is licensed under a "}} <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>{{t ". Feel free to share, but provide attribution."}}</span>
					<span class="credits-box">{{t "Opinions expressed here are my own and may not reflect those of other people. Unless I'm quoting someone, they're just my own views." }}</span>
					<span class="credits-box">{{t "This site runs entirely on "}} <a href="http://ghost.org">Ghost</a>.</span>
				</section>
			</div>
		</footer>
	</section>

	<script type="text/javascript" src="{{asset "js/script.js"}}"></script>

	{{ghost_foot}}

</body>
</html>
